In [1]:
pip install requests

Requirement already satisfied: requests in c:\users\pc\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pc\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pc\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pc\anaconda3\lib\site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pc\anaconda3\lib\site-packages (from requests) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import requests
api_url = "https://jsonplaceholder.typicode.com/todos/1"
response = requests.get(api_url)
response.json()

{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

In [4]:
response.status_code

200

In [5]:
response.headers["Content-Type"]

'application/json; charset=utf-8'

In [9]:
API_KEY = 'ChpGODgDbXeps7rd4tScxgDwoXjb3sd4ypi4LiAP'

In [10]:
apod_url = f'https://api.nasa.gov/planetary/apod?api_key={API_KEY}'

response = requests.get(apod_url)

if response.status_code == 200:
    apod_data = response.json()
    print(apod_data)
else:
    print(f"Error: {response.status_code}")

{'copyright': 'Tunc Tezel', 'date': '2024-08-02', 'explanation': "As Mars wanders through Earth's night, it passes about 5 degrees south of the Pleiades star cluster in this composite astrophoto. The skyview was constructed from a series of images captured over a run of 16 consecutive clear nights beginning on July 12. Mars' march across the field of view begins at the far right, the planet's ruddy hue. showing a nice contrast with the blue Pleiades stars. Moving much faster across the sky against the distant stars, the fourth planet from the Sun easily passes seventh planet Uranus, also moving across this field of view. Red planet Mars and the ice giant world were in close conjunction, about 1/2 degree apart, on July 16. Continuing its rapid eastward trek, Mars has now left the sister stars and outer planet behind though, passing north of red giant star Aldebaran. Mars will come within about 1/3 degree of Jupiter in planet Earth's sky on August 14.", 'hdurl': 'https://apod.nasa.gov/apod/image/2408/2024MaUrM45.jpg', 'media_type': 'image', 'service_version': 'v1', 'title': 'Mars Passing By', 'url': 'https://apod.nasa.gov/apod/image/2408/2024MaUrM45_1024.jpg'}

In [11]:
from IPython.display import Image

# Display the image
Image(url=apod_data['url'])

In [12]:
import pandas as pd

# Define the NEO endpoint
neo_url = f'https://api.nasa.gov/neo/rest/v1/neo/browse?api_key={API_KEY}'

# Make the request
response = requests.get(neo_url)

# Check the status of the request
if response.status_code == 200:
    neo_data = response.json()
else:
    print(f"Error: {response.status_code}")

# Extract relevant data
asteroids = neo_data['near_earth_objects']
asteroids_list = []

for asteroid in asteroids:
    asteroid_id = asteroid['id']
    asteroid_name = asteroid['name']
    min_diameter_km = asteroid['estimated_diameter']['kilometers']['estimated_diameter_min']
    absolute_magnitude = asteroid['absolute_magnitude_h']
    relative_velocity = asteroid['close_approach_data'][0]['relative_velocity']['kilometers_per_hour']

    asteroids_list.append({
        'Asteroid ID': asteroid_id,
        'Asteroid Name': asteroid_name,
        'Minimal Estimated Diameter (km)': min_diameter_km,
        'Absolute Magnitude': absolute_magnitude,
        'Relative Velocity (km/h)': relative_velocity
    })

# Create a DataFrame
df_asteroids = pd.DataFrame(asteroids_list)

In [13]:
# Convert relative velocity to km/s
df_asteroids['Relative Velocity (km/s)'] = df_asteroids['Relative Velocity (km/h)'].astype(float) / 3600

# Drop the original km/h column
df_asteroids.drop(columns=['Relative Velocity (km/h)'], inplace=True)

# Rename columns for clarity
df_asteroids.rename(columns={
    'Minimal Estimated Diameter (km)': 'Min Diameter (km)',
    'Relative Velocity (km/s)': 'Relative Velocity (km/s)'
}, inplace=True)

# Display the cleaned DataFrame
df_asteroids.head()

,Asteroid ID,Asteroid Name,Min Diameter (km),Absolute Magnitude,Relative Velocity (km/s)
0,2000433,433 Eros (A898 PA),22.006703,10.41,5.578619
1,2000719,719 Albert (A911 TB),2.025606,15.59,3.446029
2,2000887,887 Alinda (A918 AA),4.451998,13.88,6.804792
3,2001036,1036 Ganymed (A924 UB),37.545248,9.25,6.303866
4,2001221,1221 Amor (1932 EA1),0.888290,17.38,13.269379

In [14]:
# Export the DataFrame to a CSV file
csv_file_path = 'asteroids_data.csv'
df_asteroids.to_csv(csv_file_path, index=False)

print(f"Data exported to {csv_file_path}")

Data exported to asteroids_data.csv